body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f4f1;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  font-weight: 500;
}

.navbar .nav-link.active {
  color: black;
  font-weight: 600;
}

.logo {
  width: 100px;
}

section {
  background-color: #f8f9fa;
}

h1, h2 {
  color: black;
}

.btn-primary {
  background-color: #FB8500;
  border: none;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #FFB703;
}

.btn-warning {
  background-color: #FFB703;
  border: none;
  font-weight: 600;
}

.btn-warning:hover {
  background-color: #fb8500;
}
